---
import Section from "../Section.astro"

interface Props { cv: any }
const { cv } = Astro.props
const { summary } = cv.basics

const isEn = Astro.currentLocale === 'en';
const title = isEn ? "About me" : "Sobre mí";
---

<Section title={title}>
  <p>
    {summary}
  </p>
</Section>
